<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css" integrity="sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ" crossorigin="anonymous" />

<div class="container col-sm-12 col-md-8 col-xl-8 ">
    <div class="card text-white bg-warning mb-3">
        <div class="card-header bg-info">
            <h6 class="display-2 offset-2 ">COMPILADORES 2</h6>
            <img src="" class="h-auto w-auto col-4 justify-content-center">
            <br>
        </div>
        <div class="card-body" style="background-color: black; ">
            <!-- INICIO CONTENEDOR TARGET  -->
            <ul class="nav nav-tabs" id="padreWindows">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#home">P0</a>
                </li>
            </ul>

            <div id="MIS_TEXTS" class="tab-content bgImagenYO">
                <br />
                <div class="tab-pane fade active" id="home">
                    <div class="row">
                        <div class="form-group col-8 my-4">
                            <label for="exampleInputFile">
                <font style="vertical-align: heredar">
                  <font style="vertical-align: heredar">
                    Abre un Archivo</font
                  ></font
                ></label
              >
              <input
                id="fileInput"
                (change)="fileChanged($event, 0)"
                style="background-color: aliceblue; color: black"
                type="file"
                class="form-control-file"
                id="exampleInputFile"
                aria-describedby="fileHelp"
              />
            </div>
            <div
              class="btn-group btn-group-toggle my-4 col-4"
              data-toggle="botones"
            >
              <button
                (click)="addWindow()"
                type="button"
                class="btn btn-success"
              >
                ADD WINDOW
              </button>
              <button (click)="SA_VE(0)" type="button" class="btn btn-info">
                SAVE
              </button>
            </div>
          </div>
          <br />
          <ngx-codemirror
            [(ngModel)]="this.entradas[0]"
            [options]="{
              lineNumbers: true,
              theme: 'twilight',
              mode: 'javascript',
              matchBrackets:true
            }"
          ></ngx-codemirror>
          <div class="form-group col-12 m-1 my-4">
            <button
              (click)="excuteProgram(this.entradas[0])"
              type="button"
              class="btn btn-outline-success btn-dark col-12 my-0 text-uppercase"
              style="font-size: 18px; font-family: 'Times New Roman', Times, serif;"
            >
              Analizar
            </button>
          </div>
        </div>

        <div class="tab-pane fade" id="window_1">
          <div class="row">
            <div class="form-group col-8 my-4">
              <label for="exampleInputFile">
                <font style="vertical-align: heredar">
                  <font style="vertical-align: heredar">
                    Abre un Archivo</font
                  ></font
                ></label
              >
              <input
                id="fileInput"
                (change)="fileChanged($event, 1)"
                style="background-color: aliceblue; color: black"
                type="file"
                class="form-control-file"
                id="exampleInputFile"
                aria-describedby="fileHelp"
              />
            </div>
            <div
              class="btn-group btn-group-toggle my-4 col-4"
              data-toggle="botones"
            >
              <button
                (click)="addWindow()"
                type="button"
                class="btn btn-success"
              >
                ADD WINDOW
              </button>
              <button (click)="SA_VE(1)" type="button" class="btn btn-info">
                SAVE
              </button>
            </div>
          </div>
          <br />
          <ngx-codemirror
            [(ngModel)]="this.entradas[1]"
            [options]="{
              lineNumbers: true,
              theme: 'dracula',
              mode: 'javascript'
            }"
          ></ngx-codemirror>
          <div class="form-group col-12 m-1 my-4">
            <button
              (click)="excuteProgram(this.entradas[1])"
              type="button"
              class="btn btn-outline-success btn-dark col-12 my-0 text-uppercase"
              style="font-size: 18px; font-family: 'Times New Roman', Times, serif;"
            >
              Analizar
            </button>
          </div>
        </div>

        <div class="tab-pane fade" id="window_2">
          <div class="row">
            <div class="form-group col-8 my-4">
              <label for="exampleInputFile">
                <font style="vertical-align: heredar">
                  <font style="vertical-align: heredar">
                    Abre un Archivo</font
                  ></font
                ></label
              >
              <input
                id="fileInput"
                (change)="fileChanged($event, 2)"
                style="background-color: aliceblue; color: black"
                type="file"
                class="form-control-file"
                id="exampleInputFile"
                aria-describedby="fileHelp"
              />
            </div>
            <div
              class="btn-group btn-group-toggle my-4 col-4"
              data-toggle="botones"
            >
              <button
                (click)="addWindow()"
                type="button"
                class="btn btn-success"
              >
                ADD WINDOW
              </button>
              <button (click)="SA_VE(2)" type="button" class="btn btn-info">
                SAVE
              </button>
            </div>
          </div>
          <br />
          <ngx-codemirror
            [(ngModel)]="this.entradas[2]"
            [options]="{
              lineNumbers: true,
              theme: 'twilight',
              mode: 'javascript'
            }"
          ></ngx-codemirror>
          <div class="form-group col-12 m-1 my-4">
            <button
              (click)="excuteProgram(this.entradas[2])"
              type="button"
              class="btn btn-outline-success btn-dark col-12 my-0 text-uppercase"
              style="font-size: 18px; font-family: 'Times New Roman', Times, serif;"
            >
              Analizar
            </button>
          </div>
        </div>

        <div class="tab-pane fade" id="window_3">
          <div class="row">
            <div class="form-group col-8 my-4">
              <label for="exampleInputFile">
                <font style="vertical-align: heredar">
                  <font style="vertical-align: heredar">
                    Abre un Archivo</font
                  ></font
                ></label
              >
              <input
                id="fileInput"
                (change)="fileChanged($event, 3)"
                style="background-color: aliceblue; color: black"
                type="file"
                class="form-control-file"
                id="exampleInputFile"
                aria-describedby="fileHelp"
              />
            </div>
            <div
              class="btn-group btn-group-toggle my-4 col-4"
              data-toggle="botones"
            >
              <button
                (click)="addWindow()"
                type="button"
                class="btn btn-success"
              >
                ADD WINDOW
              </button>
              <button (click)="SA_VE(3)" type="button" class="btn btn-info">
                SAVE
              </button>
            </div>
          </div>
          <br />
          <ngx-codemirror
            [(ngModel)]="this.entradas[3]"
            [options]="{
              lineNumbers: true,
              theme: 'dracula',
              mode: 'javascript'
            }"
          >
          </ngx-codemirror>
          <div class="form-group col-12 m-1 my-4">
            <button
              (click)="excuteProgram(this.entradas[3])"
              type="button"
              class="btn btn-outline-success btn-dark col-12 my-0 text-uppercase"
              style="font-size: 18px; font-family: 'Times New Roman', Times, serif;"
            >
              Analizar
            </button>
          </div>
        </div>

        <div class="tab-pane fade" id="window_4">
          <div class="row">
            <div class="form-group col-8 my-4">
              <label for="exampleInputFile">
                <font style="vertical-align: heredar">
                  <font style="vertical-align: heredar">
                    Abre un Archivo</font
                  ></font
                ></label
              >
              <input
                id="fileInput"
                (change)="fileChanged($event, 4)"
                style="background-color: aliceblue; color: black"
                type="file"
                class="form-control-file"
                id="exampleInputFile"
                aria-describedby="fileHelp"
              />
            </div>
            <div
              class="btn-group btn-group-toggle my-4 col-4"
              data-toggle="botones"
            >
              <button
                (click)="addWindow()"
                type="button"
                class="btn btn-success"
              >
                ADD WINDOW
              </button>
              <button (click)="SA_VE(4)" type="button" class="btn btn-info">
                SAVE
              </button>
            </div>
          </div>
          <br />
          <ngx-codemirror
            [(ngModel)]="this.entradas[4]"
            [options]="{
              lineNumbers: true,
              theme: 'twilight',
              mode: 'javascript'
            }"
          ></ngx-codemirror>
          <div class="form-group col-12 m-1 my-4">
            <button
              (click)="excuteProgram(this.entradas[4])"
              type="button"
              class="btn btn-outline-success btn-dark col-12 my-0 text-uppercase"
              style="font-size: 18px; font-family: 'Times New Roman', Times, serif;"
            >
              Analizar
            </button>
          </div>
        </div>

        <div class="tab-pane fade" id="window_5">
          <div class="row">
            <div class="form-group col-8 my-4">
              <label for="exampleInputFile">
                <font style="vertical-align: heredar">
                  <font style="vertical-align: heredar">
                    Abre un Archivo</font
                  ></font
                ></label
              >
              <input
                id="fileInput"
                (change)="fileChanged($event, 5)"
                style="background-color: aliceblue; color: black"
                type="file"
                class="form-control-file"
                id="exampleInputFile"
                aria-describedby="fileHelp"
              />
            </div>
            <div
              class="btn-group btn-group-toggle my-4 col-4"
              data-toggle="botones"
            >
              <button
                (click)="addWindow()"
                type="button"
                class="btn btn-success"
              >
                ADD WINDOW
              </button>
              <button (click)="SA_VE(5)" type="button" class="btn btn-info">
                SAVE
              </button>
            </div>
          </div>
          <br />
          <ngx-codemirror
            [(ngModel)]="this.entradas[5]"
            [options]="{
              lineNumbers: true,
              theme: 'dracula',
              mode: 'javascript'
            }"
          ></ngx-codemirror>
          <div class="form-group col-12 m-1 my-4">
            <button
              (click)="excuteProgram(this.entradas[5])"
              type="button"
              class="btn btn-outline-success btn-dark col-12 my-0 text-uppercase"
              style="font-size: 18px; font-family: 'Times New Roman', Times, serif;"
            >
              Analizar
            </button>
          </div>
        </div>

        <div class="tab-pane fade" id="window_6">
          <div class="row">
            <div class="form-group col-8 my-4">
              <label for="exampleInputFile">
                <font style="vertical-align: heredar">
                  <font style="vertical-align: heredar">
                    Abre un Archivo</font
                  ></font
                ></label
              >
              <input
                id="fileInput"
                (change)="fileChanged($event, 6)"
                style="background-color: aliceblue; color: black"
                type="file"
                class="form-control-file"
                id="exampleInputFile"
                aria-describedby="fileHelp"
              />
            </div>
            <div
              class="btn-group btn-group-toggle my-4 col-4"
              data-toggle="botones"
            >
              <button
                (click)="addWindow()"
                type="button"
                class="btn btn-success"
              >
                ADD WINDOW
              </button>
              <button (click)="SA_VE(6)" type="button" class="btn btn-info">
                SAVE
              </button>
            </div>
          </div>
          <br />
          <ngx-codemirror
            [(ngModel)]="this.entradas[6]"
            [options]="{
              lineNumbers: true,
              theme: 'twilight',
              mode: 'javascript'
            }"
          ></ngx-codemirror>
          <div class="form-group col-12 m-1 my-4">
            <button
              (click)="excuteProgram(this.entradas[6])"
              type="button"
              class="btn btn-outline-success btn-dark col-12 my-0 text-uppercase"
              style="font-size: 18px; font-family: 'Times New Roman', Times, serif;"
            >
              Analizar
            </button>
          </div>
        </div>

        <div class="tab-pane fade" id="window_7">
          <div class="row">
            <div class="form-group col-8 my-4">
              <label for="exampleInputFile">
                <font style="vertical-align: heredar">
                  <font style="vertical-align: heredar">
                    Abre un Archivo</font
                  ></font
                ></label
              >
              <input
                id="fileInput"
                (change)="fileChanged($event, 7)"
                style="background-color: aliceblue; color: black"
                type="file"
                class="form-control-file"
                id="exampleInputFile"
                aria-describedby="fileHelp"
              />
            </div>
            <div
              class="btn-group btn-group-toggle my-4 col-4"
              data-toggle="botones"
            >
              <button
                (click)="addWindow()"
                type="button"
                class="btn btn-success"
              >
                ADD WINDOW
              </button>
              <button (click)="SA_VE(7)" type="button" class="btn btn-info">
                SAVE
              </button>
            </div>
          </div>
          <br />
          <ngx-codemirror
            [(ngModel)]="this.entradas[7]"
            [options]="{
              lineNumbers: true,
              theme: 'eclipse',
              mode: 'javascript'
            }"
          ></ngx-codemirror>
          <div class="form-group col-12 m-1 my-4">
            <button
              (click)="excuteProgram(this.entradas[7])"
              type="button"
              class="btn btn-outline-success btn-dark col-12 my-0 text-uppercase"
              style="font-size: 18px; font-family: 'Times New Roman', Times, serif;"
            >
              Analizar
            </button>
          </div>
        </div>

        <div class="tab-pane fade" id="window_8">
          <div class="row">
            <div class="form-group col-8 my-4">
              <label for="exampleInputFile">
                <font style="vertical-align: heredar">
                  <font style="vertical-align: heredar">
                    Abre un Archivo</font
                  ></font
                ></label
              >
              <input
                id="fileInput"
                (change)="fileChanged($event, 8)"
                style="background-color: aliceblue; color: black"
                type="file"
                class="form-control-file"
                id="exampleInputFile"
                aria-describedby="fileHelp"
              />
            </div>
            <div
              class="btn-group btn-group-toggle my-4 col-4"
              data-toggle="botones"
            >
              <button
                (click)="addWindow()"
                type="button"
                class="btn btn-success"
              >
                ADD WINDOW
              </button>
              <button (click)="SA_VE(8)" type="button" class="btn btn-info">
                SAVE
              </button>
            </div>
          </div>
          <br />
          <ngx-codemirror
            [(ngModel)]="this.entradas[8]"
            [options]="{
              lineNumbers: true,
              theme: 'eclipse',
              mode: 'javascript'
            }"
          ></ngx-codemirror>
          <div class="form-group col-12 m-1 my-4">
            <button
              (click)="excuteProgram(this.entradas[8])"
              type="button"
              class="btn btn-outline-success btn-dark col-12 my-0 text-uppercase"
              style="font-size: 18px; font-family: 'Times New Roman', Times, serif;"
            >
              Analizar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container col-sm-12 col-md-8 col-xl-8 mt-0">
  <div class="card text-white bg-warning text-center" 
  [hidden] = "false">
   <div class="card-body bg-info my-0 mt-0" style="height: 60px;">
      <ul class="nav nav-pills justify-content-end my-0 mt-0 ">
        <li class="nav-item dropdown" style="height: 25px; border-radius: 20px;">
          <a  class="dropdown-toggle text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Change</a>
          
          <div class="dropdown-menu bg-dark btn-outline-info">
            <a (click) = "activateHiddenConsola()" class="dropdown-item active2" >Consola <i class="mx-2"><svg  width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-code-slash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0zm-.999-3.124a.5.5 0 0 1 .33.625l-4 13a.5.5 0 0 1-.955-.294l4-13a.5.5 0 0 1 .625-.33z"/>
            </svg> </i>
   
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" >ATS
              <i class="mx-2"><svg class="mx-2" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-tree" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .416.223l3 4.5A.5.5 0 0 1 11 5.5h-.098l2.022 3.235a.5.5 0 0 1-.424.765h-.191l1.638 3.276a.5.5 0 0 1-.447.724h-11a.5.5 0 0 1-.447-.724L3.69 9.5H3.5a.5.5 0 0 1-.424-.765L5.098 5.5H5a.5.5 0 0 1-.416-.777l3-4.5A.5.5 0 0 1 8 0zM5.934 4.5H6a.5.5 0 0 1 .424.765L4.402 8.5H4.5a.5.5 0 0 1 .447.724L3.31 12.5h9.382l-1.638-3.276A.5.5 0 0 1 11.5 8.5h.098L9.576 5.265A.5.5 0 0 1 10 4.5h.066L8 1.401 5.934 4.5z"/>
                <path d="M7 13.5h2V16H7v-2.5z"/>
              </svg></i>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" >Traduccion
              <i class="mx-2"><svg class="mx-2" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-stickies" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 1.5A1.5 1.5 0 0 1 1.5 0H13a1 1 0 0 1 1 1H1.5a.5.5 0 0 0-.5.5V14a1 1 0 0 1-1-1V1.5z"/>
                <path fill-rule="evenodd" d="M2 3.5A1.5 1.5 0 0 1 3.5 2h11A1.5 1.5 0 0 1 16 3.5v6.086a1.5 1.5 0 0 1-.44 1.06l-4.914 4.915a1.5 1.5 0 0 1-1.06.439H3.5A1.5 1.5 0 0 1 2 14.5v-11zM3.5 3a.5.5 0 0 0-.5.5v11a.5.5 0 0 0 .5.5h6.086a.5.5 0 0 0 .353-.146l4.915-4.915A.5.5 0 0 0 15 9.586V3.5a.5.5 0 0 0-.5-.5h-11z"/>
                <path fill-rule="evenodd" d="M10.5 10a.5.5 0 0 0-.5.5v5H9v-5A1.5 1.5 0 0 1 10.5 9h5v1h-5z"/>
              </svg></i>
            </a>
          
          </div>


        </li>
      </ul>
   </div>
   <div class="card-footer " id="consolaPablo" style="background-color: black;" [hidden]="HiddenConsola">
    <ngx-codemirror style="text-align: justify; font-size: 20px;"
    [(ngModel)]="this.salida"
    [options]="{
      lineNumbers: false,
      readOnly: 'nocursor',
      matchBrackets:true,
      theme: 'ayu-dark',
      mode: 'javascript',
      onlyRead: true
    }"
  ></ngx-codemirror>
  </div>



 </div>

</div>