/*PARA CODE MIRROR*/
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/material";
@import "~codemirror/theme/eclipse";
@import "~codemirror/theme/dracula";
@import "~codemirror/theme/twilight";
@import "~codemirror/theme/bespin";
@import "~codemirror/theme/ayu-dark";
@import "~codemirror/theme/blackboard";
.CodeMirror {
  height: 500px;
}

body {
  background-image: url(./assets/fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: cursive;
}
#consolaPablo .CodeMirror {
  height: 200px;
}
